# Dependencies
/node_modules

# Build
/dist

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Test coverage
/coverage

# IDE - VSCode
/.vscode

# OS
.DS_Store

# Environment variables
.env

# Docker Postgres Volume
/data
